/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
    background:linear-gradient(to left, rgba(9, 11, 49, .9), rgba(35, 39, 87, 0.6), rgba(9, 11, 49, .9)), url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fvignette.wikia.nocookie.net%2Flooneytunes%2Fimages%2F5%2F5d%2FLTC001-OpeningRings1.png%2Frevision%2Flatest%3Fcb%3D20200528142647&f=1&nofb=1");
    background-size: cover;
    background-position: top -25px right 0px;
    background-attachment: fixed;
}